[Unit]
Description=Load isp kernel modules

[Service]
Type=oneshot
ExecStart=/usr/bin/load-isp-modules.sh
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
